.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-top: 50px;
  margin-bottom: 50px;
}

.Homer {
  /* margin-left: 150px; */
  margin-top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 150vmin; */
  /* width: 50%;
  height: 50%; */
}

.title {
  text-align: center;
  font-family: 'Rock Salt';
  color: #ffffff;
  font-size: 45px;
  align-items: center;
  text-shadow: 2px 2px rgb(80, 80, 79);
}

.media {
  background-color: rgb(194, 142, 107);
  border-style: solid;
  border-radius: 15px;
  border-color: rgb(29, 16, 2);
  margin-bottom: 15px;
  align-items: center;
}

.description {
  text-align: center;
  color: #eeeeee;
  font-size: 20px;
  align-items: center;
}

@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
{
    .description .ml-3 {
       display:none;
    }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;    
}
}

.donut {
  text-align: center;
  align-items: center;
  justify-content: center;
  /* padding-right: 150px; */
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
