.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-top: 50px;
  margin-bottom: 50px;
}

.Homer {
  /* margin-left: 150px; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 150vmin; */
  /* width: 50%;
  height: 50%; */
}

.title {
  font-family: 'Rock Salt';
  font-size: 50px;
}

.description {
  color: #ffffff;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;    
}
}

.donut {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
